[submodule "lib/main/pi-protocol"]
	path = lib/main/pi-protocol
	url = git@github.com:tblaha/pi-protocol
[submodule "lib/main/ActiveSetCtlAlloc"]
	path = lib/main/ActiveSetCtlAlloc
	url = git@github.com:tblaha/ActiveSetCtlAlloc
